* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  overflow-x: hidden;
}

.grid-nosotros {
  display: grid;
  grid-template-areas: "header" "texto" "mapa" "footer";
}

.a-nosotros {
  transition: all 1s;
  font-size: small;
  gap: 1px;
  padding: 0%;
  margin-top: 10px;
}

.a-nosotros:hover {
  transform: translate(0%);
  color: red;
}

.header-nosotros {
  transition: all 1s;
  grid-area: header;
  background-color: rgba(2, 2, 34, 0.966);
  color: white;
  text-align: center;
  height: 100px;
  padding: 10px;
  gap: 5px;
}

.header-nosotros:hover {
  transform: translate(0%);
}

.footer-nosotros {
  transition: all 1s;
  grid-area: footer;
  background-color: rgba(2, 2, 34, 0.966);
  color: white;
  display: flex;
  justify-content: center;
  height: 160px;
  align-items: center;
  gap: 30px;
}

.footer-nosotros:hover {
  transform: translate(0%);
}

.mapa-nosotros {
  grid-area: mapa;
  padding: 20px;
}

.texto-nosotros {
  grid-area: texto;
}

ol, li {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

@media (min-width: 600px) {
  .a-nosotros {
    font-size: large;
    gap: 100px;
  }
  .grid-nosotros {
    grid-template-areas: "header header" "mapa texto" "footer footer";
  }
  .mapa-nosotros {
    text-align: center;
  }
  .texto-nosotros {
    text-align: center;
  }
  .text-nosotros {
    font-size: 30px;
  }
}
.contacto-nav {
  background-color: rgba(2, 2, 34, 0.966);
  padding: 5px;
  display: flex;
  justify-content: start;
  gap: 100px;
}

.Nav-link {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 255, 0.363);
}

header {
  color: white;
  background-color: rgba(2, 2, 34, 0.966);
  height: 100px;
  width: 100 px;
  line-height: 100px;
}

body {
  background: rgba(0, 0, 139, 0.514);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#container {
  width: 100%;
  height: 100%;
}

.piedepagina {
  position: absolute;
  bottom: 10px;
  right: 550px;
  display: flex;
  color: white;
  font-size: 20px;
}

.imagen {
  right: 10px;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#titulo-formulario {
  text-align: center;
}

#boton {
  text-align: center;
  padding: 15px;
}

h2 {
  color: white;
  position: relative;
}

#titulocontacto {
  position: relative;
  right: 220px;
}

#titulo-Fitco {
  color: white;
  text-decoration: none;
}

p {
  color: white;
  text-align: center;
}

#ayuda {
  text-align: center;
  color: white;
  margin-top: 30px;
}

.form-ayuda {
  text-align: center;
}

#formulario-ayuda {
  text-align: center;
  margin-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 100px);
  justify-content: center;
  align-items: center;
}

a:hover {
  color: red;
}

.header-index, .grid-nav {
  transition: all 1s;
  grid-column: 100vh;
  background-color: rgba(2, 2, 34, 0.966);
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.header-index, .grid-nav:hover {
  transform: translate(0%);
}

.titulo-index {
  transition: all 1s;
  position: relative;
  text-align: center;
}

.titulo-index:hover {
  transform: translate(0%);
}

.seccion-index {
  text-align: center;
  width: 300px;
  font-size: small;
}

.ul-index {
  transition: all 1s;
  font-size: small;
  text-decoration: none;
  display: flex;
  padding: 20px;
  gap: 10px;
  justify-content: start;
  color: white;
  width: 250vh;
}

ul {
  transition: all 1s;
  color: white;
  text-decoration: none;
  display: flex;
  padding: 20px;
  gap: 80px;
  justify-content: end;
  color: white;
  width: 250vh;
}

.ul:hover {
  transform: translate(0%);
  color: red;
}

.footer-index {
  transition: all 1s;
  width: 320px;
  display: flex;
  color: white;
  font-size: larger;
  height: 150px;
  grid-column: 100vh;
  background-color: rgba(2, 2, 34, 0.966);
  justify-content: center;
  align-items: center;
}

.footer-index:hover {
  transform: translate(0%);
}

section {
  width: 10vh;
}

.grid-nav {
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .ul-index {
    font-size: larger;
    gap: 130px;
  }
  .seccion-index {
    display: flex;
    width: 1024px;
  }
  p {
    font-size: large;
  }
  .footer-index {
    width: 1024px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .ul-index {
    gap: 70px;
    font-size: larger;
  }
  .seccion-index {
    display: flex;
    width: 768px;
  }
  p {
    font-size: medium;
  }
  .footer-index {
    width: 768px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
  .ul-index {
    font-size: medium;
    gap: 20px;
  }
  .seccion-index {
    width: 425px;
  }
  p {
    width: 425px;
    font-size: medium;
  }
  .footer-index {
    width: 425px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .footer-index {
    width: 375px;
  }
  .ul-index {
    font-size: medium;
  }
  .seccion-index {
    width: 375px;
  }
  p {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-index {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    justify-content: space-evenly;
    height: 181px;
  }
  iframe {
    width: 650px;
  }
  .grid-nav, .h3-index, .ul-index {
    font-size: x-large;
    gap: 210px;
    justify-content: start;
  }
  .seccion-index {
    font-size: large;
    display: flex;
    padding: 5px;
    width: 1200px;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1440px) {
  .footer-index {
    width: 1366px;
  }
  .ul-index {
    gap: 190px;
  }
  a {
    width: 100px;
  }
}
.flex-container-ayuda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20p;
}

.ayuda-body {
  background-size: cover;
}

.titulo-ayuda {
  text-align: center;
}

.ayuda-container {
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-ayuda {
  height: 50px;
  width: 300px;
}

#ayuda {
  text-align: end;
}

.ayuda-nav {
  font-size: small;
  background-color: rgba(2, 2, 34, 0.966);
  padding: 5px;
  display: flex;
  justify-content: start;
  gap: 10px;
}

.text-ayuda-1 {
  color: black;
  height: 100px;
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .ayuda-nav {
    width: 375px;
    font-size: medium;
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
  .ayuda-nav {
    width: 425px;
    font-size: medium;
    gap: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .ayuda-nav {
    width: 768px;
    font-size: large;
    gap: 90px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .ayuda-nav {
    width: 1024px;
    font-size: large;
    gap: 150px;
  }
}
@media only screen and (min-width: 1336px) and (max-width: 1440px) {
  .ayuda-nav {
    width: 1336px;
    font-size: large;
    gap: 180px;
  }
}
.flex-container-rutina {
  width: 320px;
}

.rutina-nav {
  font-size: small;
  width: 320px;
  background-color: rgba(2, 2, 34, 0.966);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.Rutinas {
  width: 290px;
  margin: 5px;
}

.header-rutina {
  width: 320px;
  text-align: center;
}

.seccion-video {
  size: 100px;
}

.titulo-entrenamientos {
  text-align: end;
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .header-rutina {
    width: 375px;
  }
  .flex-container-rutina {
    width: 375px;
  }
  .rutina-nav {
    width: 375px;
    font-size: medium;
  }
  .Rutinas {
    width: 350px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
  .header-rutina {
    width: 425px;
  }
  .flex-container-rutina {
    width: 425px;
  }
  .rutina-nav {
    width: 425px;
    font-size: medium;
  }
  .Rutinas {
    width: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header-rutina {
    width: 768px;
  }
  .flex-container-rutina {
    width: 768px;
  }
  .rutina-nav {
    width: 768px;
    font-size: large;
    gap: 70px;
  }
  .Rutinas {
    width: 750px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .header-rutina {
    width: 1024px;
  }
  .flex-container-rutina {
    width: 1024px;
  }
  .rutina-nav {
    width: 1024px;
    font-size: large;
    gap: 120px;
  }
  .Rutinas {
    width: 1000px;
    display: flex;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1440px) {
  .header-rutina {
    width: 1366px;
  }
  .flex-container-rutina {
    width: 1366px;
  }
  .rutina-nav {
    width: 1366px;
    font-size: x-large;
    gap: 150px;
  }
  .Rutinas {
    width: 1300px;
    display: flex;
  }
  a {
    width: 110px;
  }
}
.header-contacto {
  transition: all 1s;
  text-align: center;
  width: 320px;
}

.header-contacto:hover {
  transform: translate(0%);
}

.contacto-nav-2 {
  background-color: rgba(2, 2, 34, 0.966);
  transition: all 1s;
  font-size: small;
  padding: 5px;
  display: flex;
  justify-content: start;
  gap: 10px;
  width: 320px;
}

.contacto-nav-2:hover {
  transform: translate(0%);
}

.Contacto-Container {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
  width: 320px;
}

.Contacto-mensaje {
  color: white;
  text-align: center;
  width: 320px;
}

.boton-contacto {
  text-align: center;
  width: 320px;
}

.contacto-subtitulo {
  text-align: center;
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .header-contacto {
    width: 375px;
  }
  .contacto-nav-2 {
    font-size: medium;
    width: 375px;
  }
  .Contacto-Container {
    width: 375px;
  }
  .Contacto-mensaje {
    width: 375px;
  }
  .boton-contacto {
    width: 375px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
  .header-contacto {
    width: 425px;
  }
  .contacto-nav-2 {
    width: 425px;
    font-size: medium;
    gap: 20px;
  }
  .Contacto-Container {
    width: 425px;
  }
  .Contacto-mensaje {
    width: 425px;
  }
  .boton-contacto {
    width: 425px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header-contacto {
    width: 768px;
  }
  .contacto-nav-2 {
    width: 768px;
    font-size: large;
    gap: 90px;
  }
  .Contacto-mensaje {
    width: 768px;
  }
  .Contacto-Container {
    width: 768px;
  }
  .boton-contacto {
    width: 768px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .header-contacto {
    width: 1024px;
  }
  .contacto-nav-2 {
    width: 1024px;
    font-size: large;
    gap: 160px;
  }
  .Contacto-mensaje {
    width: 1024px;
  }
  .Contacto-Container {
    width: 1024px;
  }
  .boton-contacto {
    width: 1024px;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1440px) {
  .header-contacto {
    width: 1366px;
  }
  .contacto-nav-2 {
    width: 1366px;
    font-size: large;
    gap: 190px;
  }
  .Contacto-mensaje {
    width: 1366px;
  }
  .Contacto-Container {
    width: 1366px;
  }
  .boton-contacto {
    width: 1366px;
  }
}/*# sourceMappingURL=style.css.map */